body {
    background-color: #C6D1D5;
}

mi-navbar{
     background-color: #C6D1D5;
}

.nav-link {
    transition: all 0.3s ease; /* Esta es la clave: hace que el cambio no sea de golpe, sino suave */
    position: relative;
}

.nav-link:hover {
    color: black !important; /* Cambia a verde (o el color del logo) */
    transform: scale(1.1);      /* Crece un poquito (10%) */
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%; /* La rayita se extiende al pasar el mouse */
}

.btn-outline-success {
    transition: transform 0.2s;
}

.btn-outline-success:hover {
    background-color: black !important;
    color: white !important;
    transform: translateY(-3px); /* El botón "salta" un poquito hacia arriba */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Le da una sombra para que parezca que flota */
}


.titulo-diseno{
   color: black; /* Un morado vibrante */
    text-transform: uppercase;
    font-family: 'Georgia', serif; /* Una letra con remates ayuda al look */
    letter-spacing: 8px;
    font-weight: 900;
    text-shadow: 
        0 0 10px white,
        0 0 20px gray,
        3px 3px 2px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

.titulo-diseno:hover{
    color: black;
    text-shadow: 0 0 40px black;
}

/* Esto obliga a todas las fotos a medir lo mismo */
.tarjeta-producto .card-img-top {
    height: 300px; /* Ajusta esta altura a tu gusto */
    object-fit: cover; /* Recorta la imagen para que llene el espacio sin estirarse */
    width: 100%;
}

